@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(247, 249, 255);
	font-family: 'IBM Plex Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

.fundraising-container {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	padding: 20px;
	background-color: white;
	height: 300px;
	width: 500px;
	border: 1px solid grey;
	border-radius: 5px;
}

#donor-count {
	color: red;
	font-weight: 700;
}
